# RKE2
rke2_channel: "stable"
rke2_version: "v1.33.2+rke2r1"
rke2_token: "bstrke2cluster"
rke2_cni: "calico"
rke2_cluster_cidr: "10.42.0.0/16"
rke2_service_cidr: "10.43.0.0/16"
rke2_tls_san:
  - "192.168.0.211"
  - "192.168.0.212"
  - "192.168.0.213"
  - "192.168.0.214"
  - "192.168.0.215"
  - "192.168.0.216"
  - "192.168.0.219"
  - "rke2-ha-vip.my.int"

# HA VIP & NIC (adjust NIC if needed)
ha_vip: "192.168.0.219"
ha_iface: "enp6s18"           # ou use match "en*" no keepalived conf se preferir

# Calico
calico_iface: "enp6s18"
calico_mtu: 1450

# MetalLB (pool for Services; keep VIP .210 for LB if you want)
metallb_address_pools:
  - name: default
    addresses: ["192.168.0.210"]

# Ingress NGINX
ingress_namespace: "ingress-nginx"

# Longhorn
longhorn_namespace: "longhorn-system"
longhorn_version: "v1.9.1"

# Sysctl kernel safety knobs
sysctl_tweaks:
  vm.overcommit_memory: "1"
  kernel.panic_on_oops: "1"
  vm.panic_on_oom: "0"
  kernel.panic: "10"

# HAProxy
haproxy_backends:
  k8s_api:
    port: 6443
    servers:
      - "192.168.0.211:6443"
      - "192.168.0.212:6443"
      - "192.168.0.213:6443"
  rke2_reg:
    port: 9345
    servers:
      - "192.168.0.211:9345"
      - "192.168.0.212:9345"
      - "192.168.0.213:9345"

# Bootstrap
rke2_primary: "rke2-master1"   # primeiro master para iniciar o cluster
server_url: "https://192.168.0.219:9345"  # todos apontam para o VIP/HAProxy
